<app-header
  [fixed]="true"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'"
>
  <!-- nav left menus -->
  <ul class="nav navbar-nav d-md-down-none">
    <!-- simple menu -->
    <li class="nav-item px-3"><pre>left menu</pre></li>
  </ul>
  <!-- nav right menus -->
  <ul class="nav navbar-nav ml-auto">
    <!-- account menu -->
    <li class="nav-item">
      <pre>right menu</pre>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar 
    [compact]="true"
    [display]="'lg'"
    [fixed]="false" 
    [offCanvas]="false"
    >
      <app-sidebar-nav
      [navItems]="[{name:'app-sidebar', title:true},{name:'app-sidebar-nav', title:true},{name:'app-sidebar-minimizer', title:true}]"
      [perfectScrollbar]
      [disabled]="sidebarMinimized"
    ></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb - required RouterModule, not showing in this sample -->
    <ol class="breadcrumb">
      <pre>app-breadcrumb</pre>
      <!--<app-breadcrumb></app-breadcrumb>-->
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu d-md-down-none">
        <pre>app-breadcrumb right menu</pre>
      </li>
    </ol>
    <div class="container-fluid">
      <pre>router-outlet</pre>
    </div>
    <!-- /.container-fluid -->
  </main>
  <app-aside [fixed]="true" [display]="false">
    <pre>app-aside</pre>
  </app-aside>
</div>
<app-footer>
  <pre>app-footer</pre>
</app-footer>
